
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url('111.jpg'); /* 替换为您的图片URL */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0); /* 透明背景 */
}
.logo {
    height: 50px;
}
.navbar {
    display: flex;
    margin:0; /* 外边距为0 */
    padding: 0; /* 内边距为0 */
}
.navbar a {
    color: #ffffff; /* 文本颜色 */
    margin-right: 50px;
    text-decoration: none;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

#row{
    border-radius: 25px;
    background-color: rgba(36,125,215,0.7);
    box-shadow: 0 0 17px #3dd5f3;
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
}

#submit_login{
    width: 200px;
    height: 35px;
    border: none;
    outline: none;
    padding-left: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 20px;
}
.group-label{
    color: #ffffff;
}
.button-group{
    text-align: center;
}

#submit_login:hover{
    background-color: #c0c0c0;
}

.col-lg-6 input[type="password"],input[type="text"]{
    width: 300px;
    height: 35px;
    border: none;
    outline: none;
    padding-left: 5px;
    margin-bottom: 20px;
}