<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

</head>

<body>
<div id="app">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div>
            <a class="navbar-brand" href="{% url 'home:index' %}">awvl</a>
        </div>
    </div>
    <div class="navbar-collapse">
    </div>
</nav>
<!--content-->
<div class="container" style="height: 600px;margin-top: 20px">
    <img src="{% static 'img/404.jpeg' %}" alt="">
    <br>
    <div style="text-align: center;">
        <a href="{% url 'home:index' %}" class="primaryAction btn btn-primary">Back to home page</a>
    </div>
</div>




</div>
</body>

</html>