<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    {% load static %}
    <title>reset password</title>

    <link rel="stylesheet" href="{% static 'css/forget_password.css' %}">
    <script type="text/javascript" src="{% static 'js/vue-2.5.16.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/axios-0.18.0.min.js' %}"></script>

</head>

<style>
  .customCursor {
    cursor: pointer;
  }
</style>

<body>
<div id="app">


<div class="header">
    <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo"> <!-- 替换为您的图标URL -->
    <div class="navbar">
        <a href="{% url 'home:index' %} "> Home </a>
        <a href="{% url 'home:index' %}"> About </a>
        <a href="{% url 'users:login' %}"> Login </a>
    </div>
</div>



<div class="container" id="container" >
    <div class="row" id="row">
        <div class="col-12">
            <div class="col-6">
                <form class="login" id="login_form" method="POST">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="group-label">Username: </label>
                        <div class="col-lg-6">
                            <input type="text" name="username" placeholder="Please enter your username" autofocus="autofocus" required
                                   id="id_login" class="form-control" v-model="username"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="group-label"> New password: </label>
                        <div class="col-lg-6">
                            <input type="password" name="password" placeholder="Please enter your new password" required  class="form-control" v-model="password" @blur="check_password"/>
                        </div>
                        <small class="form-text text-muted ml-1" v-show="password_error" >[[password_error_message]]</small>
                    </div>

                    <div class="form-group">
                        <label class="group-label">Confirm password:</label>
                        <div class="col-lg-6">
                            <input type="password" name="password2" placeholder="Please enter your confirmation password" required  class="form-control" v-model="password2" @blur="check_password2"/>
                        </div>
                        <small class="form-text text-muted ml-1" v-show="password2_error" >[[password2_error_message]]</small>
                    </div>
                    <div class="button-group">
                        <button class="customCursor" type="submit" @click="on_submit" id="submit_login">Change password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</div>

<script type="text/javascript" src="{% static 'js/host.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'js/forget_password4.js' %}"></script>

</body>
</html>