<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome/css/all.min.css' %}">
    <script type="text/javascript" src="{% static 'js/vue-2.5.16.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/axios-0.18.0.min.js' %}"></script>
</head>

<style>
  .customCursor {
    cursor: pointer;
  }
</style>
<body>

<div id="app">

<div class="header">
    <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo">
    <div class="navbar">
        <div>
            <a href="{% url 'home:index' %}">Home</a>
            <a href="{% url 'home:index' %}">About</a>
            <a href="{% url 'users:login' %}">Login</a>
        </div>
    </div>
</div>


<div class="container">
    <div class="container-header">
        <h1>Welcome</h1>
    </div>
    <div class="container-main" >
        <form id="login_form" method="POST">
            {% csrf_token %}
            <span>
                <i class="fas fa-user"></i>
                <input type="text" name="username" placeholder="username" autofocus="autofocus" required id="id_login" class="form-control" v-model="username" @blur="check_mobile">
            </span><br>
            <span>
                 <i class="fas fa-lock"></i>
                 <input type="password" name="password" placeholder="password" required id="id_password" class="form-control" v-model="password" @blur="check_password">
            </span><br>
            <div class="check-box-group">
            <input type="checkbox" name="remember" id="terms" name="remember" required checked class="custom-control-input" v-model="remembered">
            <label for="terms">I agree to the terms and conditions</label>
            </div>
            <button type="submit" id="submit_login" class="customCursor" @click="on_submit"> Login </button>
            <div class="link-group">
            <a href="{% url 'users:forgetpassword' %}" class="link_pwd_reg">Forgot Password?</a>
            <a class="link_pwd_reg" > | </a>
            <a href="{% url 'users:register' %}" class="link_pwd_reg">Creat account</a>
            </div>
        </form>
    </div>
</div>



</div>

<!-- 引入js -->
<script type="text/javascript" src="{% static 'js/host.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'js/login1.js' %}"></script>

</body>

</html>