<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome/css/all.min.css' %}">
    <!-- 引入vuejs -->
    <script type="text/javascript" src="{% static 'js/vue-2.5.16.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/axios-0.18.0.min.js' %}"></script>
</head>
<style>
  .form-section {
    display: none;
  }
  .form-section.active {
    display: block;
  }
  .left-section{
      display: none;
  }
  .left-section.active{
      display: block;
  }
  .button-section{
      display: none;
  }
  .button-section.active{
      display: block;
  }
.navbar {
    display: flex;
    margin:0; /* 外边距为0 */
    padding: 0; /* 内边距为0 */
}
.navbar a {
    color: #ffffff; /* 文本颜色 */
    margin-right: 50px;
    text-decoration: none;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0);
}

</style>

<body>
<div id="app">


<div class="header">
    <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo">
    <div class="navbar">
        <div>
            <a href="{% url 'home:index' %}">Home</a>
            <a href="{% url 'home:index' %}">About</a>
            <a href="{% url 'users:login' %}">Login</a>
        </div>
    </div>
</div>

<!--content-->
<div class="container" >
    <div class="box box-left">
        <div class="Logo-contain"><img src="{% static 'img/logo.png' %}" alt="Logo" class="logo"> </div>
        <div class="left-section active" id="left_sec1">
            <p1>Creat an Account</p1>
            <p>Enter your name</p>
        </div>
         <div class="left-section" id="left_sec2">
            <p1>Contact Information</p1>
            <p>Enter the email address you want to use </p>
        </div>
        <div class="left-section" id="left_sec3">
            <p1>User Information</p1>
        </div>
        <div class="left-section" id="left_sec4">
            <p1>OS Type</p1>
        </div>
        <div class="left-section" id="left_sec5">
            <p1>IP address</p1>
        </div>
        <div class="left-section" id="left_sec6">
            <p1>Team</p1>
        </div>
        <div class="left-section" id="left_sec7">
            <p1>Lead</p1>
        </div>




    </div>
    <div class="box box-right">
        <form class="login" id="login_form" method="POST">
            {% csrf_token %}

            <div class="form-section active" id="section1">
                <input type="text" name="full_name" id="full_name" placeholder="Fullname" autofocus="autofocus" required id="id_login" class="form-control" v-model="full_name" />
            </div>
            <div class="button-section active" id="button_sec1">
                <button type="button" onclick="showSection(2)">Next</button>
            </div>

            <div class="form-section" id="section2">
                <input type="text" name="email_address" placeholder="Email" autofocus="autofocus" required id="id_login" class="form-control" v-model="email_address" />
            </div>
            <div class="button-section" id="button_sec2">
                <button type="button" onclick="showSection(1)">Previous</button>
                <button type="button" onclick="showSection(3)">Next</button>
            </div>

           <div class="form-section" id="section3">
                <input type="text" name="username" id="username" placeholder="username" autofocus="autofocus" required id="id_login" class="form-control" v-model="username" /><br>
                <input type="password" name="password" placeholder="Please enter a password of 8-20 characters" required  class="form-control" v-model="password" @blur="check_password" /><br>
                <input type="password" name="password2" placeholder="Confirm password" required  class="form-control" v-model="password2" @blur="check_password2"/><br>
            </div>
            <div class="button-section" id="button_sec3">
                <button type="button" onclick="showSection(2)">Previous</button>
                <button type="button" onclick="showSection(4)">Next</button>
            </div>

            <div class="form-section" id="section4">
                <select id="OS_type" name="OS_type" required v-model="OS_type">
                        <option value="Windows"> Windows </option>
                        <option value="mac-OS"> mac OS </option>
                        <option value="Linux"> Linux </option>
                </select>
            </div>
            <div class="button-section" id="button_sec4">
                <button type="button" onclick="showSection(3)">Previous</button>
                <button type="button" onclick="showSection(5)">Next</button>
            </div>

            <div class="form-section" id="section5">
                <input type="text" name="IP_address" placeholder="IP address" autofocus="autofocus"  id="id_login" class="form-control" v-model="IP_address" />
            </div>
            <div class="button-section" id="button_sec5">
                <button type="button" onclick="showSection(4)">Previous</button>
                <button type="button" onclick="showSection(6)">Next</button>
            </div>

            <div class="form-section" id="section6">
                <select id="Team_bw" name="Team" required v-model="Team">
                    <option value="Blue">Blue</option>
                    <option value="White">White</option>
                </select>
                <select id="Team_Role" name="Role" required v-model="Role" onchange="changeButtonType(this)">
                    <option value="Lead">Lead</option>
                    <option value="Member">Member</option>
                </select>
            </div>
            <div class="button-section" id="button_sec6">
                <button type="button" onclick="showSection(5)">Previous</button>
                <input type="button" id="lead_or_member" value="Submit">
            </div>



            <div class="form-section" id="section7">
                <input type="text" name="Team_name" placeholder="Team Name" autofocus="autofocus" id="Team_name" v-model="Team_name" />
            </div>
            <div class="button-section" id="button_sec7">
                <button type="button" onclick="clear_all_form()">Previous</button>
                <button type="submit" id="submit_login" @click="on_submit">Submit</button>
            </div>



        </form>
    </div>>
</div>


</div>
<!-- 引入js -->
<script type="text/javascript" src="{% static 'js/host.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'js/register3.js' %}"></script>
<script>
function showSection(sectionId) {
    const sections = document.getElementsByClassName('form-section');
    const left_sec = document.getElementsByClassName('left-section');
    const button_sec = document.getElementsByClassName('button-section');

    for (let i = 0; i < sections.length; i++) {
        sections[i].classList.remove('active');
    }
    for (let i = 0; i < left_sec.length; i++) {
        left_sec[i].classList.remove('active');
    }
    for (let i = 0; i < button_sec.length; i++) {
        button_sec[i].classList.remove('active');
    }
    document.getElementById('section' + sectionId).classList.add('active');
    document.getElementById('left_sec' + sectionId).classList.add('active');
    document.getElementById('button_sec' + sectionId).classList.add('active');
}
function changeButtonType(selectElement) {
    const IDButton = document.getElementById('lead_or_member');
    if (selectElement.value === "Lead") {
        IDButton.type = "button";
        IDButton.onclick = function() {
            showSection(7);
        };
        IDButton.value = "Next"
    } else if (selectElement.value === "Member") {
        IDButton.type = "Submit";
        IDButton.value = "Submit";
    }
}
function changeButtonType(selectElement) {
    const IDButton = document.getElementById('lead_or_member');
    if (selectElement.value === "Lead") {
        IDButton.type = "button";
        IDButton.onclick = function() {
            showSection(7);
        };
        IDButton.value = "Next"
    } else if (selectElement.value === "Member") {
        IDButton.type = "Submit";
        IDButton.value = "Submit";
    }
}
function clear_all_form(){
    const Team_name_list = ['Team_name'];
    for (let i = 0;i < Team_name_list.length;i++)
    {
        const Team_name = Team_name_list[i];
        document.getElementById('Team_name').value = ''
    }
    showSection(6);
}

</script>
</body>
</html>